body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question-container {
    margin-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0f7fa;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #b2ebf2;
}

.next-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #0056b3;
}

.option-button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #e0f7fa;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.option-button:hover {
    background-color: #b2ebf2;
}

.option-button.selected {
    background-color: #00BCD4;
    color: white;
    font-weight: bold;
}

.explanation-button {
   margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transform: translateY(-10px); /* Move up by 10 pixels */
}

.explanation-button:hover {
    background-color: #45a049;
}

.explanation-text {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.prev-button {
    margin-right: 10px; /* Add some space between the buttons */
    padding: 10px;
    border: none;
    background-color: #ff5722; /* Different color for differentiation */
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.prev-button:hover {
    background-color: #e64a19;
}
